[Unit]
Description="Update lmod system spider cache."

[Service]
Type=oneshot
ExecStart=/bin/bash "/root/.timers/lmod-scache.sh"

[Install]
WantedBy=multi-user.target
